<!doctype html>
<html>
<head><title>Meadowlark Travel</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
{{{body}}}
<script src="/javascripts/jquery/jquery-1.10.2.js"></script>
<script src="/javascripts/bootstrap/bootstrap.js"></script>
<script src="/javascripts/bootstrap/bootstrap3-typeahead.min.js"></script>
{{{_sections.jquery}}}
</body>
</html>